<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Esemenyek</title>
</head>
<body style="margin: 2% 7%">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<div style="margin: 1%">
    <h1> Tracklist</h1>
    <h2 th:text="${esemenyDto.nev}"> Esemény neve</h2>
    <h2 th:text="${esemenyDto.idoPunt}"> Esemény időpontja</h2>
    <h1 th:if="${vanElegKredit}" th:text="'Kreditek száma: ' + ${kreditek}"></h1>
    <div th:if="${!vanElegKredit}" th:text="${kreditError}" class="alert alert-danger">

        Hibaüzenet
    </div>

</div>
<!-- Button trigger modal -->
<table style="width: 100%">

    <tbody>
    <tr>
        <td style="text-align: left">
            <div style="text-align: left">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#filterModal">
                    Szűrés tagek szerint
                </button>
            </div>
        </td>
        <td style="text-align: right">
            <div style="text-align: right">
                <form th:if="${isAdmin} or ${isZenekar}" th:action="@{'/esemeny'}" method="get">
                    <input style="text-align: right" type="submit" class="btn btn-primary"
                           value="Vissza az eseményekre">
                </form>
            </div>
            <div style="text-align: right">
                <form th:if="${isOnlyGuest}" th:action="@{'/guestindex'}" method="get">
                    <input style="text-align: right" type="submit" class="btn btn-primary"
                           value="Vissza az eseményekre">
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1"
     aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <h5>Szűrés</h5>
                        </td>
                        <td style="text-align: right">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h7>Kijelölés megszüntetése CTRL + click</h7>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{'/esemeny/zenelista/{esemenyId}' (esemenyId=${esemenyId})}"
                      th:object="${filterCommand}"
                      method="get">
                    <table th:each="tagTipus : ${tagTipusok}">
                        <thead>
                        <tr>
                            <th th:text="${tagTipus}">tag tipus</th>
                        </tr>
                        </thead>

                        <tbody>

                        <div class="container">

                            <select class="form-control selectpicker" id="multiple-hobbies" th:field="*{tagLista}"
                                    multiple="multiple">

                                <option th:each="tag :${osszesTag}"
                                        th:if="${tag.getTagKategoria().getTagKategoriaString() == tagTipus}"
                                        th:value="${tag.tagNev}" th:text="${tag.tagNev}">
                            </select>
                        </div>
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Mentés"/>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Bezárás</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="card mb-3" style="padding: 1%" th:each="zene : ${esemenytracklist}">
            <h5 class="card-header bg-dark border-success text-success" th:text="${zene.szamCim}">Cím</h5>
            <div class="card-body">
                <h5 class="card-title" th:text="'Szavazatok: '+${zene.osszSzavazat}">Szavazat</h5>
                <p class="card-text" th:text="'Saját szavazatok: '+${zene.szavazatByFelhasznalo}">Saját szavazat</p>
                <table style="margin-left: 11.5%; width: 80%">
                    <tbody>
                    <tr>
                        <td style="text-align: right">
                            <div class="col" th:if="${vanElegKredit}">
                                <form th:action="@{'/esemeny/{esemenyId}/zenelista/{zeneId}'
                (zeneId=${zene.zeneId}, esemenyId=${zene.esemenyId})}"
                                      method="post">
                                    <input type="submit" class="btn btn-success" value="Like">
                                </form>
                            </div>
                            <div class="col" th:if="${!vanElegKredit}">
                                <button type="button" class="btn btn-outline-success" disabled>Like</button>
                            </div>
                        </td>
                        <td style="text-align: left">
                            <div class="col" th:if="${zene.szavazatByFelhasznalo != 0}">
                                <form th:action="@{'/esemeny/delete/{esemenyId}/zenelista/{zeneId}'
                (zeneId=${zene.zeneId}, esemenyId=${zene.esemenyId})}"
                                      method="post">
                                    <input type="submit" class="btn btn-danger" value="Like visszavonása">
                                </form>
                            </div>
                            <div class="col" th:if="${zene.szavazatByFelhasznalo == 0}">
                                <button type="button" class="btn btn-outline-danger" disabled>Like visszavonása</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--<table class="table table-dark table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th th:if="${isAdmin}" scope="col">Id</th>-->
<!--        <th scope="col">Cim</th>-->
<!--        <th scope="col">Szavazatok</th>-->
<!--        <th scope="col">Saját szavazatok</th>-->
<!--        <th scope="col"></th>-->
<!--        <th scope="col"></th>-->
<!--        <th scope="col"></th>-->
<!--        <th scope="col"></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="zene : ${esemenytracklist}">-->
<!--        <td th:if="${isAdmin}" th:text="${zene.zeneId}">Id</td>-->
<!--        <td th:text="${zene.szamCim}">Cím</td>-->
<!--        <td th:text="${zene.osszSzavazat}">Szavazat</td>-->
<!--        <td th:text="${zene.szavazatByFelhasznalo}">Szavazat</td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--        <td>-->
<!--            <div class="row">-->
<!--                <div class="col" th:if="${vanElegKredit}">-->
<!--                    <form th:action="@{'/esemeny/{esemenyId}/zenelista/{zeneId}'-->
<!--                (zeneId=${zene.zeneId}, esemenyId=${zene.esemenyId})}"-->
<!--                          method="post">-->
<!--                        <input type="submit" class="btn btn-success" value="Like">-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col" th:if="${!vanElegKredit}">-->
<!--                    <button type="button" class="btn btn-outline-success" disabled>Like</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--        <td>-->
<!--            <div class="row">-->
<!--                <div class="col" th:if="${zene.szavazatByFelhasznalo != 0}">-->
<!--                    <form th:action="@{'/esemeny/delete/{esemenyId}/zenelista/{zeneId}'-->
<!--                (zeneId=${zene.zeneId}, esemenyId=${zene.esemenyId})}"-->
<!--                          method="post">-->
<!--                        <input type="submit" class="btn btn-danger" value="Like visszavonása">-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col" th:if="${zene.szavazatByFelhasznalo == 0}">-->
<!--                    <button type="button" class="btn btn-outline-danger" disabled>Like visszavonása</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>